<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
    <%- include('layout/header'); %>
    <h2>Add a new user</h2>
        <form action="/add-user" method="POST">
            <input name="username" type="text">
            <button type="submit">Add</button>
        </form>
    </body>

</html>
