<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<%- include('layout/header'); %>
<% if(users.length === 0){ %>
    <h2>There are not users</h2>
<% } %>
<% if(users.length > 0){ %>
    <h2>Users</h2>
    <ul>
        <% for(let i = 0; i < users.length; i++){ %>
            <li><%= users[i] %></li>
        <% } %>
    </ul>
<% } %>
</body>
</html>
